/*-------------------------------------------------------------------------------------------------------*/
/* MENU LIST
/*-------------------------------------------------------------------------------------------------------*/
.menu-list {
	margin-bottom: 50px;
	text-align: center;
}
.menu-list button{
	cursor: pointer;
	font-weight: 700;
	color: #d3af80;
	border-radius: 5px;
	padding: 8px 15px;
	margin: 5px;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #d3af80;
	box-shadow: none;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

.menu-list button i, .gallery-list button i {font-size: 18px;}
.menu-list button:hover, .menu-list button.active, .gallery-list button:hover, .gallery-list button.active {
    color: #fff;
	border: 1px solid #824328;
    background-color: #824328;
}
.menu-image > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor #f1f1f1 currentcolor currentcolor;
    -o-border-image: none;
       border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.menu-item {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px !important;
}
.menu-item > .thumbnail-11 {
  display: block;
  height: 76px;
}
.menu-text {
    -ms-flex-item-align: center;
        align-self: center;
    background: #ffffff none repeat scroll 0 0;
    padding: 0 38px 0 19px;
    width: 100%;
}
.menu-image {width: 110px;}
.menu-image img {position: relative;}
.menu-text h4 {
  font-size: 16px !important;
  line-height: 18px !important;
  margin-bottom: 8px !important;
  position: relative;
}
.menu-text h4 > span {color: #d3af80; float: right; font-size: 14px; line-height: 19px;}
.menu-text h4 a:hover {color: #d3af80;}
/*.menu-text h4:after {
    border-top: 1px dashed #535353;
    content: "";
    height: 1px;
    position: absolute;
    right: 33px;
    top: 10px;
    width: 121px;
}*/
.grid-item:last-child .menu-item, .grid-item:nth-last-of-type(2) .menu-item {margin-bottom: 0;}
.menu-link {line-height: 0}
.menu-link .default-btn {padding: 0 39px;}

